.App{
  text-align: center;
}
header{
  display: flex;
  justify-content: center;
  background-color: brown;
}
section{
  display: flex;
  justify-content: center;
  }

.confirmed-case,
.death-case,
.recovered-case{
  height: 150px;
  border:1px solid black;
  box-shadow: 0 6px 5px ;
  width: 300px;
  margin: 20px;
}
.confirmed-case{
  background-color: yellow;
}
.death-case{
  background-color: red;
  color: white;
}
.recovered-case{
  background-color: green;
  color: white;
}
